<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <br/>
    <v-app id="inspire">
        <v-card
                class="mx-auto"
                max-width="1000"
                elevation="10"
                shaped
                raised
                float-none
        >
            <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation>
                <v-card-title class="font-weight-black">Cadastro de cliente</v-card-title>
                <v-card-text class="headline font-weight-bold">
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                    id="name"
                                    v-model="customer.name"
                                    placeholder=" "
                                    label="Nome"
                                    required
                                    :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                    id="email"
                                    v-model="customer.email"
                                    placeholder=" "
                                    label="E-mail"
                                    required
                                    :rules="[rules.required, rules.email]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <div v-for="(address, index) in customer.addressList">
                        <v-card class="mx-auto"
                                max-width="900"
                                elevation="10">

                            <v-col cols="12" md="12">
                                <v-layout justify-end>
                                    <v-btn
                                            class="mx-4"
                                            icon
                                            align-end
                                            @click="addAddress(index)"
                                            small
                                    >
                                        <v-icon class="fas fa-plus-circle"></v-icon>
                                    </v-btn>
                                    <v-btn
                                            class="mx-4"
                                            icon
                                            small
                                            @click="removeAddress(index)"
                                            v-if="index > 0"
                                    >
                                        <v-icon class="fas fa-trash"></v-icon>
                                    </v-btn>
                                </v-layout>
                                <v-row>
                                    <v-col cols="12" sm="6" md="3">
                                        <v-text-field
                                                id="cep"
                                                v-model="address.cep"
                                                placeholder=" "
                                                label="CEP"
                                                size="10" maxlength="9"
                                                OnKeyPress="formatar('#####-###', this)"
                                                @blur="findCep(address)"
                                                required
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="5">
                                        <v-text-field
                                                id="logradouro"
                                                v-model="address.logradouro"
                                                placeholder=" "
                                                label="Rua"
                                                required
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field
                                                id="complemento"
                                                v-model="address.complemento"
                                                placeholder=" "
                                                label="Complemento"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" sm="6" md="2">
                                        <v-text-field
                                                id="numero"
                                                v-model="address.numero"
                                                placeholder=" "
                                                label="Número"
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field
                                                id="bairro"
                                                v-model="address.bairro"
                                                placeholder=" "
                                                label="Bairro"
                                                required
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field
                                                id="localidade"
                                                v-model="address.localidade"
                                                placeholder=" "
                                                label="Localidade"
                                                required
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="2">
                                        <v-text-field
                                                id="uf"
                                                v-model="address.uf"
                                                placeholder=" "
                                                label="UF"
                                                required
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field
                                                id="unidade"
                                                v-model="address.unidade"
                                                placeholder=" "
                                                label="Unidade"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field
                                                id="ibge"
                                                v-model="address.ibge"
                                                placeholder=" "
                                                label="Cód.Ibge"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field
                                                id="gia"
                                                v-model="address.gia"
                                                placeholder=" "
                                                label="Gia"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-card>
                        <br/>
                    </div>
                    <v-btn @click="validateRest(customer)" color="success" :disabled="!valid">salvar</v-btn>
                    <v-btn @click="cleanCustomer(customer)" color="error">limpar</v-btn>
                </v-card-text>
            </v-form>
        </v-card>
        <v-dialog v-model="alertError" max-width="500px">
            <v-card color="red" dark heigth="300px">
                <v-card-title>
                    <span><i class="fas fa-exclamation-triangle" style="margin-right: 15px"></i>Erro ao {{restMethodError}} cliente.</span>
                    <v-spacer></v-spacer>
                    <v-menu center left>
                        <template v-slot:activator="{ on }">
                            <v-btn icon @click="alertError = false">
                                <v-icon class="fas fa-times"></v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item @click="() => {}">
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-card-title>
            </v-card>
        </v-dialog>
        <v-dialog v-model="alert" max-width="500px" heigth="100px">
            <v-card color="green" dark>
                <v-card-title>
                    <span><i class="fas fa-check-circle"
                             style="margin-right: 15px"></i>Cliente {{restMethodSuccess}} com sucesso.</span>
                    <v-spacer></v-spacer>
                    <v-menu center left>
                        <template v-slot:activator="{ on }">
                            <v-btn icon @click="alert = false">
                                <v-icon class="fas fa-times"></v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item @click="() => {}">
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-card-title>
            </v-card>
        </v-dialog>
        <br/>
        <br/>
        <v-card
                class="mx-auto"
                max-width="1500"
                elevation="10"
                float-none
        >
            <v-data-table :headers="headers" :items="desserts" item-key="name" class="elevation-1">
                <template v-slot:item.action="{ item }">
                    <v-btn icon  small @click="editItem(item)">
                        <v-icon size="24px" class="fas fa-pen-square"></v-icon>
                    </v-btn>
                    <v-btn icon  small @click="deleteCustomer(item)">
                        <v-icon size="24px" class="fas fa-trash-alt"></v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>
        <br/>
        <br/>
        <v-footer dark padless>
            <v-card class="flex" flat tile>
                <v-card-text class="py-2 white--text text-center">
                    <v-btn class="mx-4" dark icon target="_blank" href="https://github.com/samueldesouzadev">
                        <v-icon size="24px" class="fab fa-github-square"></v-icon>
                    </v-btn>
                    <v-btn class="mx-4" dark icon target="_blank" href="https://www.linkedin.com/in/samueldesouza-dev">
                        <v-icon size="24px" class="fab fa-linkedin"></v-icon>
                    </v-btn>
                    <v-tooltip right>
                        <template v-slot:activator="{ on }">
                            <v-btn dark icon v-on="on" class="mx-4" >
                                <v-icon size="24px" class="fas fa-envelope"></v-icon>
                            </v-btn>
                        </template>
                        <span>{{email}}</span>
                    </v-tooltip>
                    <v-spacer></v-spacer>
                </v-card-text>
            </v-card>
        </v-footer>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-replace-svg></script>
<script src="js/welcome.js"></script>
</body>
</html>
